#Add
#SQL
/Alt
/backup
/Backups
/Deleted
/Doc
/Icons
/Test
/2025-*/
/2026-*/
/2027-*/
/__history
__recovery

# Разрешаем добавлять папку sql и её файлы первого уровня
!/sql
/sql/*
!/sql/

*.*
*.[^a-zA-Z0-9]*
!*.dpr
!*.dproj
!*.pas
!*.dfm
!*.res
!*.rc
!*.udl
!*.udl_
!*.sql
!*.cmd
!*.txt
!*.inc
!*.dll
!.gitignore



