ATTENTION64     RCDATA "R:\Buttons\Dialogs\attention.png"
question64      RCDATA "R:\Buttons\Dialogs\question.png"
info64          RCDATA "R:\Buttons\Dialogs\info.png"
error64         RCDATA "R:\Buttons\Dialogs\error.png"

FIRST           RCDATA "R:\Buttons\Icon Library\Images\Arrows\First_16x16.png"
FIRST32         RCDATA "R:\Buttons\Icon Library\Images\Arrows\First_32x32.png"
LAST            RCDATA "R:\Buttons\Icon Library\Images\Arrows\Last_16x16.png"
LAST32          RCDATA "R:\Buttons\Icon Library\Images\Arrows\Last_32x32.png"
NEXT            RCDATA "R:\Buttons\Icon Library\Images\Arrows\Next_16x16.png"
NEXT32          RCDATA "R:\Buttons\Icon Library\Images\Arrows\Next_32x32.png"
PREV            RCDATA "R:\Buttons\Icon Library\Images\Arrows\Prev_16x16.png"
PREV32          RCDATA "R:\Buttons\Icon Library\Images\Arrows\Prev_32x32.png"
UP              BITMAP "R:\Buttons\NEW\up_20.bmp"
UP32            BITMAP "R:\Buttons\NEW\up_32.bmp"
DOWN            BITMAP "R:\Buttons\NEW\down_20.bmp"
DOWN32          BITMAP "R:\Buttons\NEW\down_32.bmp"
TOADD           BITMAP "R:\Buttons\NEW\additem_16.bmp"
TOADD32         RCDATA "R:\Buttons\Icon Library\Images\Actions\Add_32x32.png"
ADD             BITMAP "R:\Buttons\NEW\additem_16.bmp"
ADD32           BITMAP "R:\Buttons\NEW\add_32.bmp"
NEW             RCDATA "R:\Buttons\Icon Library\Images\Actions\New_16x16.png"
NEW32           RCDATA "R:\Buttons\Icon Library\Images\Actions\New_32x32.png"
INSERT          RCDATA "R:\Buttons\Icon Library\Images\Actions\Insert_16x16.png"
INSERT32        RCDATA "R:\Buttons\Icon Library\Images\Actions\Insert_32x32.png"
Clear           RCDATA "R:\Buttons\Icon Library\Images\Actions\Clear_16x16.png"
Clear32         RCDATA "R:\Buttons\Icon Library\Images\Actions\Clear_32x32.png"
Apply           RCDATA "R:\Buttons\Icon Library\Images\Actions\Apply_16x16.png"
Apply32         RCDATA "R:\Buttons\Icon Library\Images\Actions\Apply_32x32.png"
Close           RCDATA "R:\Buttons\Icon Library\Images\Actions\Close_16x16.png"
Close32         RCDATA "R:\Buttons\Icon Library\Images\Actions\Close_32x32.png"
ToDelete        BITMAP "R:\Buttons\NEW\deleteitem_16.bmp"
ToDelete32      RCDATA "R:\Buttons\Icon Library\Images\Actions\Remove_32x32.png"
Delete          BITMAP "R:\Buttons\NEW\deleteitem_16.bmp"
Delete32        BITMAP "R:\Buttons\NEW\delete_32.bmp"
Reset           RCDATA "R:\Buttons\Icon Library\Images\Actions\Reset_16x16.png"
Reset32         RCDATA "R:\Buttons\Icon Library\Images\Actions\Reset_32x32.png"
View            BITMAP "R:\Buttons\NEW\view_20.bmp"
View32          BITMAP "R:\Buttons\NEW\view_32.bmp"
Copy            BITMAP "R:\Buttons\NEW\copyitems_2_16.bmp"
Copy32          BITMAP "R:\Buttons\NEW\copy_32.bmp"
Edit            BITMAP "R:\Buttons\NEW\edit_20.bmp"
Edit32          BITMAP "R:\Buttons\NEW\edit_32.bmp"
Filter          BITMAP "R:\Buttons\NEW\filter_20.bmp"
Filter32        BITMAP "R:\Buttons\NEW\filter_32.bmp"
Refresh         BITMAP "R:\Buttons\NEW\refresh2_20.bmp"
Refresh32       BITMAP "R:\Buttons\NEW\refresh2_32.bmp"
Yes             RCDATA "R:\Buttons\Uchet\Yes.png"
No              RCDATA "R:\Buttons\Uchet\No.png"
tablesettings32 BITMAP "R:\Buttons\NEW\tablesettings_32.bmp"
tablesettings   BITMAP "R:\Buttons\NEW\tablesettings_20.bmp"
Ok              BITMAP "R:\Buttons\NEW\ok_20.bmp"
Ok32              BITMAP "R:\Buttons\NEW\ok_32.bmp"
Cancel          BITMAP "R:\Buttons\NEW\cancel_20.bmp"
Cancel32          BITMAP "R:\Buttons\NEW\cancel_32.bmp"
Cancel1         RCDATA "R:\Buttons\Icon Library\Images\Actions\Cancel_16x16.png"
Attach          BITMAP "R:\Buttons\NEW\attach_20.bmp"
ViewClose       BITMAP "R:\Buttons\NEW\viewclose_16.bmp"
Print32         BITMAP "R:\Buttons\NEW\print_32.bmp"
Print           BITMAP "R:\Buttons\NEW\print_20.bmp"
add_sn_receipt32 BITMAP "R:\Buttons\NEW\add_sn_receipt_32.bmp"
add_to_receipt32 BITMAP "R:\Buttons\NEW\add_to_receipt_32.bmp"
add_m_receipt32 BITMAP "R:\Buttons\NEW\add_m_receipt_32.bmp"
EMPTY32         BITMAP "R:\Buttons\NEW\empty_32.bmp"
EMPTY           BITMAP "R:\Buttons\NEW\empty_20.bmp"
INFOPICT32      RCDATA "R:\Buttons\New\info_pict-32.png"
SELECTFROMLIST  BITMAP "R:\Buttons\New\enter_20.bmp"
SELECTFROMLIST32  BITMAP "R:\Buttons\New\enter_32.bmp"
ENTER           BITMAP "R:\Buttons\New\enter_20.bmp"
ENTER32         BITMAP "R:\Buttons\New\enter_32.bmp"
EXCEL           BITMAP "R:\Buttons\New\excel_20.bmp"
EXCEL32         BITMAP "R:\Buttons\New\excel_32.bmp"
GO              BITMAP "R:\Buttons\New\go_20.bmp"
GO32            BITMAP "R:\Buttons\New\go_32.bmp"
deselectall     BITMAP "R:\Buttons\NEW\deselectall_20.bmp"
selectall       BITMAP "R:\Buttons\New\selectall_20.bmp"
invertselection    BITMAP "R:\Buttons\New\invertselection_20.bmp"
settings32      BITMAP "R:\Buttons\NEW\settings_32.bmp"
turv32          BITMAP "R:\Buttons\NEW\turv1_32.bmp"
payroll32       BITMAP "R:\Buttons\NEW\payroll1_32.bmp"
lock            BITMAP "R:\Buttons\NEW\lock_20.bmp"
lock32          BITMAP "R:\Buttons\NEW\lock_32.bmp"
unlock          BITMAP "R:\Buttons\NEW\unlock_20.bmp"
unlock32        BITMAP "R:\Buttons\NEW\unlock_32.bmp"
timelist        BITMAP "R:\Buttons\NEW\timelist_20.bmp"
timelist32      BITMAP "R:\Buttons\NEW\timelist_32.bmp"
card            BITMAP "R:\Buttons\NEW\card_20.bmp"
card32          BITMAP "R:\Buttons\NEW\card_32.bmp"
sunday32        BITMAP "R:\Buttons\NEW\sunday_32.bmp"
sendemail32     BITMAP "R:\Buttons\NEW\sendemail_32.bmp"
sendemail       BITMAP "R:\Buttons\NEW\sendemail_20.bmp"
add_from_template32   BITMAP "R:\Buttons\NEW\add_from_template_32.bmp"
add_from_template     BITMAP "R:\Buttons\NEW\add_from_template_20.bmp"
estimate       BITMAP "R:\Buttons\NEW\estimate_20.bmp"
estimate32     BITMAP "R:\Buttons\NEW\estimate_32.bmp"
estimate_add   BITMAP "R:\Buttons\NEW\estimate_add_20.bmp"
estimate_add32      BITMAP "R:\Buttons\NEW\estimate_add_32.bmp"
saveas         BITMAP "R:\Buttons\NEW\saveas_20.bmp"
saveas32       BITMAP "R:\Buttons\NEW\saveas_32.bmp"
folder         BITMAP "R:\Buttons\NEW\folder_20.bmp"
folder32       BITMAP "R:\Buttons\NEW\folder_32.bmp"
document         BITMAP "R:\Buttons\NEW\document_20.bmp"
document32       BITMAP "R:\Buttons\NEW\document_32.bmp"
find         BITMAP "R:\Buttons\NEW\find_20.bmp"
find32       BITMAP "R:\Buttons\NEW\find_32.bmp"
gridsettings   BITMAP "R:\Buttons\NEW\gridsettings_20.bmp"
gridsettings32 BITMAP "R:\Buttons\NEW\gridsettings_32.bmp"
settings_spanner      BITMAP "R:\Buttons\NEW\settings_spanner_20.bmp"
settings_spanner32      BITMAP "R:\Buttons\NEW\settings_spanner_32.bmp"
load         BITMAP "R:\Buttons\NEW\load1_20.bmp"
load32       BITMAP "R:\Buttons\NEW\load1_32.bmp"
move_to_folder RCDATA "R:\Buttons\New\move_to_folder_20.png"
move_to_folder32 RCDATA "R:\Buttons\New\move_to_folder_32.png"
excelview         BITMAP "R:\Buttons\NEW\excelview_20.bmp"
excelview32       BITMAP "R:\Buttons\NEW\excelview_32.bmp"
gridlabels         BITMAP "R:\Buttons\NEW\gridlabels_20.bmp"
gridlabels32       BITMAP "R:\Buttons\NEW\gridlabels_32.bmp"
gridlabelsclear         BITMAP "R:\Buttons\NEW\gridlabelsclear_20.bmp"
gridlabelsclear32       BITMAP "R:\Buttons\NEW\gridlabelsclear_32.bmp"
gridlabelsdown         BITMAP "R:\Buttons\NEW\gridlabelsdown_20.bmp"
gridlabels32down       BITMAP "R:\Buttons\NEW\gridlabelsdown_32.bmp"
filterinvert         BITMAP "R:\Buttons\NEW\filterinvert_20.bmp"
filterinvert32       BITMAP "R:\Buttons\NEW\filterinvert_32.bmp"
settings_def         RCDATA "R:\Buttons\NEW\settings_def_20.png"
settings_def32       RCDATA "R:\Buttons\NEW\settings_def_32.png"
to_settings          RCDATA "R:\Buttons\NEW\to_settings_20.png"
to_settings32        RCDATA "R:\Buttons\NEW\to_settings_32.png"
grouping             BITMAP "R:\Buttons\NEW\grouping_20.bmp"
grouping32           BITMAP "R:\Buttons\NEW\grouping_32.bmp"
collapse             BITMAP "R:\Buttons\NEW\collapse_20.bmp"
collapse32           BITMAP "R:\Buttons\NEW\collapse_32.bmp"
expand               BITMAP "R:\Buttons\NEW\expand_20.bmp"
expand32             BITMAP "R:\Buttons\NEW\expand_32.bmp"
ok_double            BITMAP "R:\Buttons\NEW\ok_double_20.bmp"
ok_double32          BITMAP "R:\Buttons\NEW\ok_double_32.bmp"
arrow_down BITMAP "R:\Buttons\NEW\arrow_down_20.bmp"
arrow_down32 BITMAP "R:\Buttons\NEW\arrow_down_32.bmp"
arrow_up BITMAP "R:\Buttons\NEW\arrow_up_20.bmp"
arrow_up32 BITMAP "R:\Buttons\NEW\arrow_up_32.bmp"
