Res_Gifs_Dancing_girl 		RCDATA "Res\Gifs\Dancing-girl.gif"
Res_Gifs_Giraffe 		RCDATA "Res\Gifs\Giraffe peeking out from behind wall.gif"
Res_Gifs_Hen	 		RCDATA "Res\Gifs\Hen with chicks.gif"
Res_Gifs_Jumping_frog 		RCDATA "Res\Gifs\Jumping frog in cap.gif"
Res_Gifs_Mice_carrying_loaf 	RCDATA "Res\Gifs\Mice carrying loaf of bread.gif"
Res_Gifs_Penguin  		RCDATA "Res\Gifs\Penguin on ball.gif"
Res_Gifs_Rotating_kart 		RCDATA "Res\Gifs\Rotating kart.gif"
Res_Gifs_Running_Dog 		RCDATA "Res\Gifs\Running Dog.gif"
Res_Gifs_Snowball_Christmas 	RCDATA "Res\Gifs\Snowball and Christmas tree.gif"
Res_Gifs_Snowball_ball 		RCDATA "Res\Gifs\Snowball throwing ball.gif"
Res_Gifs_Walking_Man 		RCDATA "Res\Gifs\Walking Man.gif"
Res_Gifs_Walking_Smurf 		RCDATA "Res\Gifs\Walking Smurf.gif"
Res_Gifs_White_Running_Dog 	RCDATA "Res\Gifs\White running dog.gif"
Res_Gifs_Ñat_scared 		RCDATA "Res\Gifs\Ñat got scared.gif"
